--
-- PostgreSQL database dump
--

\restrict tfjSVbDb3BphcyhNL9sObRe6eRD92yLpy12ExXWpi84f9N3Loe6OzfCYXoGLuvc

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO postgres;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: tournaments_game; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tournaments_game (
    id bigint NOT NULL,
    map_number integer NOT NULL,
    map_name character varying(100),
    team1_score integer NOT NULL,
    team2_score integer NOT NULL,
    match_id bigint NOT NULL,
    winner_id bigint,
    CONSTRAINT tournaments_game_map_number_check CHECK ((map_number >= 0)),
    CONSTRAINT tournaments_game_team1_score_check CHECK ((team1_score >= 0)),
    CONSTRAINT tournaments_game_team2_score_check CHECK ((team2_score >= 0))
);


ALTER TABLE public.tournaments_game OWNER TO postgres;

--
-- Name: tournaments_game_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tournaments_game ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tournaments_game_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tournaments_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tournaments_group (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    tournament_id bigint NOT NULL
);


ALTER TABLE public.tournaments_group OWNER TO postgres;

--
-- Name: tournaments_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tournaments_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tournaments_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tournaments_group_teams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tournaments_group_teams (
    id bigint NOT NULL,
    group_id bigint NOT NULL,
    team_id bigint NOT NULL
);


ALTER TABLE public.tournaments_group_teams OWNER TO postgres;

--
-- Name: tournaments_group_teams_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tournaments_group_teams ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tournaments_group_teams_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tournaments_match; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tournaments_match (
    id bigint NOT NULL,
    round_number integer NOT NULL,
    team1_score integer NOT NULL,
    team2_score integer NOT NULL,
    match_time timestamp with time zone,
    status character varying(10) NOT NULL,
    is_lower_bracket boolean NOT NULL,
    team1_id bigint,
    team2_id bigint,
    winner_id bigint,
    tournament_id bigint NOT NULL,
    map character varying(100),
    CONSTRAINT tournaments_match_round_number_check CHECK ((round_number >= 0)),
    CONSTRAINT tournaments_match_team1_score_check CHECK ((team1_score >= 0)),
    CONSTRAINT tournaments_match_team2_score_check CHECK ((team2_score >= 0))
);


ALTER TABLE public.tournaments_match OWNER TO postgres;

--
-- Name: tournaments_match_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tournaments_match ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tournaments_match_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tournaments_player; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tournaments_player (
    id bigint NOT NULL,
    nickname character varying(100) NOT NULL,
    avatar character varying(100),
    role character varying(20) NOT NULL,
    team_id bigint NOT NULL
);


ALTER TABLE public.tournaments_player OWNER TO postgres;

--
-- Name: tournaments_player_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tournaments_player ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tournaments_player_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tournaments_playergamestat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tournaments_playergamestat (
    id bigint NOT NULL,
    kills integer NOT NULL,
    deaths integer NOT NULL,
    assists integer NOT NULL,
    first_kills integer NOT NULL,
    acs double precision NOT NULL,
    game_id bigint NOT NULL,
    player_id bigint NOT NULL,
    team_id bigint NOT NULL,
    CONSTRAINT tournaments_playergamestat_assists_check CHECK ((assists >= 0)),
    CONSTRAINT tournaments_playergamestat_deaths_check CHECK ((deaths >= 0)),
    CONSTRAINT tournaments_playergamestat_first_kills_check CHECK ((first_kills >= 0)),
    CONSTRAINT tournaments_playergamestat_kills_check CHECK ((kills >= 0))
);


ALTER TABLE public.tournaments_playergamestat OWNER TO postgres;

--
-- Name: tournaments_playergamestat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tournaments_playergamestat ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tournaments_playergamestat_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tournaments_standing; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tournaments_standing (
    id bigint NOT NULL,
    wins integer NOT NULL,
    losses integer NOT NULL,
    draws integer NOT NULL,
    points integer NOT NULL,
    group_id bigint,
    team_id bigint NOT NULL,
    tournament_id bigint NOT NULL,
    CONSTRAINT tournaments_standing_draws_check CHECK ((draws >= 0)),
    CONSTRAINT tournaments_standing_losses_check CHECK ((losses >= 0)),
    CONSTRAINT tournaments_standing_wins_check CHECK ((wins >= 0))
);


ALTER TABLE public.tournaments_standing OWNER TO postgres;

--
-- Name: tournaments_standing_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tournaments_standing ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tournaments_standing_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tournaments_team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tournaments_team (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    logo character varying(100)
);


ALTER TABLE public.tournaments_team OWNER TO postgres;

--
-- Name: tournaments_team_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tournaments_team ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tournaments_team_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tournaments_tournament; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tournaments_tournament (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    game character varying(100) NOT NULL,
    start_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone NOT NULL,
    rules text NOT NULL,
    status character varying(10) NOT NULL,
    format character varying(20) NOT NULL
);


ALTER TABLE public.tournaments_tournament OWNER TO postgres;

--
-- Name: tournaments_tournament_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tournaments_tournament ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tournaments_tournament_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tournaments_tournament_participants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tournaments_tournament_participants (
    id bigint NOT NULL,
    tournament_id bigint NOT NULL,
    team_id bigint NOT NULL
);


ALTER TABLE public.tournaments_tournament_participants OWNER TO postgres;

--
-- Name: tournaments_tournament_participants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tournaments_tournament_participants ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tournaments_tournament_participants_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
2	pbkdf2_sha256$1000000$bx6NrkvVH4T7kPVJ2P40Jr$6Md+voTXNmGX2flTWr0j6ICUgmfT9wCJ7CMfF7sN57c=	2025-10-04 15:10:14.926174+00	f	doris0108				f	t	2025-10-04 15:07:21.826918+00
1	pbkdf2_sha256$1000000$Fg2E3uwSOOp9eazD3QWT5a$MQvhQT2G6cfolSXZm1W33dcu83gO2jEKydfEZwTYH/U=	2025-10-04 15:15:26.636973+00	t	dkka			ka4dkka@gmail.com	t	t	2025-09-27 09:42:41.35959+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
e817f37625fc167fe2d965d17a56d8799099ebe7	2025-09-27 09:46:42.442042+00	1
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	tournaments	team
2	tournaments	player
3	tournaments	tournament
4	tournaments	match
5	tournaments	group
6	tournaments	standing
7	tournaments	game
8	tournaments	playergamestat
9	admin	logentry
10	auth	permission
11	auth	group
12	auth	user
13	contenttypes	contenttype
14	sessions	session
15	authtoken	token
16	authtoken	tokenproxy
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tournaments_game; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tournaments_game (id, map_number, map_name, team1_score, team2_score, match_id, winner_id) FROM stdin;
\.


--
-- Data for Name: tournaments_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tournaments_group (id, name, tournament_id) FROM stdin;
97	A蝯?9
98	B蝯?9
99	C蝯?9
100	D蝯?9
\.


--
-- Data for Name: tournaments_group_teams; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tournaments_group_teams (id, group_id, team_id) FROM stdin;
929	97	35
930	98	58
931	99	64
932	100	70
933	97	73
934	98	71
935	99	31
936	100	47
937	97	62
938	98	34
939	99	28
940	100	50
941	97	27
942	98	41
943	99	48
944	100	76
945	97	39
946	98	75
947	99	30
948	100	32
949	97	38
950	98	51
951	99	63
952	100	56
953	97	36
954	98	33
955	99	59
956	100	29
957	97	40
958	98	72
959	99	52
960	100	65
961	97	49
962	98	53
963	99	57
964	100	60
965	97	74
\.


--
-- Data for Name: tournaments_match; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tournaments_player; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tournaments_playergamestat; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tournaments_playergamestat (id, kills, deaths, assists, first_kills, acs, game_id, player_id, team_id) FROM stdin;
\.


--
-- Data for Name: tournaments_standing; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tournaments_team; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tournaments_tournament; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tournaments_tournament (id, name, game, start_date, end_date, rules, status, format) FROM stdin;
9	WTACS S1	Valorant	2025-08-15 10:12:54+00	2026-01-18 21:30:00+00	?祈魚鈭??∩???畾蛛??渲?Ｙ??蝯蜇??????瘙啗魚撠??箏??函?嚗inners Bracket嚗??蝯?Losers Bracket嚗?瘥???刻◤瘛掠?拇活敺?甇???箏??r\n銝餉??挾???綽?\r\n\r\n蝚砌??挾(32??6撘?嚗?蝯儐?啗魚\r\n蝚砌??挾(16??撘?嚗?憯怨憚\r\n蝚砌??挾(?怠撥?喳?鈭?嚗???瘙啗魚	ongoing	round_robin
\.


--
-- Data for Name: tournaments_tournament_participants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tournaments_tournament_participants (id, tournament_id, team_id) FROM stdin;
32	9	27
33	9	28
34	9	29
35	9	30
36	9	31
37	9	32
38	9	33
39	9	34
40	9	35
41	9	36
42	9	38
43	9	39
44	9	40
45	9	41
46	9	47
47	9	48
48	9	49
49	9	50
50	9	51
51	9	52
52	9	53
55	9	56
56	9	57
57	9	58
58	9	59
59	9	60
61	9	62
62	9	63
67	9	64
68	9	65
69	9	70
70	9	71
71	9	72
72	9	73
73	9	74
74	9	75
75	9	76
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 64, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 2, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 655, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 16, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 25, true);


--
-- Name: tournaments_game_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournaments_game_id_seq', 1, false);


--
-- Name: tournaments_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournaments_group_id_seq', 100, true);


--
-- Name: tournaments_group_teams_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournaments_group_teams_id_seq', 965, true);


--
-- Name: tournaments_match_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournaments_match_id_seq', 802, true);


--
-- Name: tournaments_player_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournaments_player_id_seq', 260, true);


--
-- Name: tournaments_playergamestat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournaments_playergamestat_id_seq', 1, false);


--
-- Name: tournaments_standing_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournaments_standing_id_seq', 1154, true);


--
-- Name: tournaments_team_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournaments_team_id_seq', 76, true);


--
-- Name: tournaments_tournament_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournaments_tournament_id_seq', 10, true);


--
-- Name: tournaments_tournament_participants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournaments_tournament_participants_id_seq', 75, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: tournaments_game tournaments_game_match_id_map_number_a4fff2ba_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_game
    ADD CONSTRAINT tournaments_game_match_id_map_number_a4fff2ba_uniq UNIQUE (match_id, map_number);


--
-- Name: tournaments_game tournaments_game_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_game
    ADD CONSTRAINT tournaments_game_pkey PRIMARY KEY (id);


--
-- Name: tournaments_group tournaments_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_group
    ADD CONSTRAINT tournaments_group_pkey PRIMARY KEY (id);


--
-- Name: tournaments_group_teams tournaments_group_teams_group_id_team_id_a073c375_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_group_teams
    ADD CONSTRAINT tournaments_group_teams_group_id_team_id_a073c375_uniq UNIQUE (group_id, team_id);


--
-- Name: tournaments_group_teams tournaments_group_teams_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_group_teams
    ADD CONSTRAINT tournaments_group_teams_pkey PRIMARY KEY (id);


--
-- Name: tournaments_match tournaments_match_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_match
    ADD CONSTRAINT tournaments_match_pkey PRIMARY KEY (id);


--
-- Name: tournaments_player tournaments_player_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_player
    ADD CONSTRAINT tournaments_player_pkey PRIMARY KEY (id);


--
-- Name: tournaments_playergamestat tournaments_playergamestat_game_id_player_id_df80b121_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_playergamestat
    ADD CONSTRAINT tournaments_playergamestat_game_id_player_id_df80b121_uniq UNIQUE (game_id, player_id);


--
-- Name: tournaments_playergamestat tournaments_playergamestat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_playergamestat
    ADD CONSTRAINT tournaments_playergamestat_pkey PRIMARY KEY (id);


--
-- Name: tournaments_standing tournaments_standing_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_standing
    ADD CONSTRAINT tournaments_standing_pkey PRIMARY KEY (id);


--
-- Name: tournaments_standing tournaments_standing_tournament_id_team_id_e9f92a58_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_standing
    ADD CONSTRAINT tournaments_standing_tournament_id_team_id_e9f92a58_uniq UNIQUE (tournament_id, team_id);


--
-- Name: tournaments_team tournaments_team_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_team
    ADD CONSTRAINT tournaments_team_name_key UNIQUE (name);


--
-- Name: tournaments_team tournaments_team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_team
    ADD CONSTRAINT tournaments_team_pkey PRIMARY KEY (id);


--
-- Name: tournaments_tournament_participants tournaments_tournament_p_tournament_id_team_id_d07f5135_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_tournament_participants
    ADD CONSTRAINT tournaments_tournament_p_tournament_id_team_id_d07f5135_uniq UNIQUE (tournament_id, team_id);


--
-- Name: tournaments_tournament_participants tournaments_tournament_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_tournament_participants
    ADD CONSTRAINT tournaments_tournament_participants_pkey PRIMARY KEY (id);


--
-- Name: tournaments_tournament tournaments_tournament_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_tournament
    ADD CONSTRAINT tournaments_tournament_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: tournaments_game_match_id_060af1a0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_game_match_id_060af1a0 ON public.tournaments_game USING btree (match_id);


--
-- Name: tournaments_game_winner_id_0b21b880; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_game_winner_id_0b21b880 ON public.tournaments_game USING btree (winner_id);


--
-- Name: tournaments_group_teams_group_id_64a7c9b3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_group_teams_group_id_64a7c9b3 ON public.tournaments_group_teams USING btree (group_id);


--
-- Name: tournaments_group_teams_team_id_62d47786; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_group_teams_team_id_62d47786 ON public.tournaments_group_teams USING btree (team_id);


--
-- Name: tournaments_group_tournament_id_f4f9daa1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_group_tournament_id_f4f9daa1 ON public.tournaments_group USING btree (tournament_id);


--
-- Name: tournaments_match_team1_id_4e22b4a1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_match_team1_id_4e22b4a1 ON public.tournaments_match USING btree (team1_id);


--
-- Name: tournaments_match_team2_id_0fee8af1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_match_team2_id_0fee8af1 ON public.tournaments_match USING btree (team2_id);


--
-- Name: tournaments_match_tournament_id_443e00bf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_match_tournament_id_443e00bf ON public.tournaments_match USING btree (tournament_id);


--
-- Name: tournaments_match_winner_id_ed61fef2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_match_winner_id_ed61fef2 ON public.tournaments_match USING btree (winner_id);


--
-- Name: tournaments_player_team_id_a8b34e5d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_player_team_id_a8b34e5d ON public.tournaments_player USING btree (team_id);


--
-- Name: tournaments_playergamestat_game_id_be90b3c4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_playergamestat_game_id_be90b3c4 ON public.tournaments_playergamestat USING btree (game_id);


--
-- Name: tournaments_playergamestat_player_id_3342a138; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_playergamestat_player_id_3342a138 ON public.tournaments_playergamestat USING btree (player_id);


--
-- Name: tournaments_playergamestat_team_id_ca442ad5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_playergamestat_team_id_ca442ad5 ON public.tournaments_playergamestat USING btree (team_id);


--
-- Name: tournaments_standing_group_id_643f3cc8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_standing_group_id_643f3cc8 ON public.tournaments_standing USING btree (group_id);


--
-- Name: tournaments_standing_team_id_02e94d08; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_standing_team_id_02e94d08 ON public.tournaments_standing USING btree (team_id);


--
-- Name: tournaments_standing_tournament_id_26205d53; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_standing_tournament_id_26205d53 ON public.tournaments_standing USING btree (tournament_id);


--
-- Name: tournaments_team_name_2a69329a_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_team_name_2a69329a_like ON public.tournaments_team USING btree (name varchar_pattern_ops);


--
-- Name: tournaments_tournament_participants_team_id_73c757c9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_tournament_participants_team_id_73c757c9 ON public.tournaments_tournament_participants USING btree (team_id);


--
-- Name: tournaments_tournament_participants_tournament_id_5f80c2d5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tournaments_tournament_participants_tournament_id_5f80c2d5 ON public.tournaments_tournament_participants USING btree (tournament_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_game tournaments_game_match_id_060af1a0_fk_tournaments_match_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_game
    ADD CONSTRAINT tournaments_game_match_id_060af1a0_fk_tournaments_match_id FOREIGN KEY (match_id) REFERENCES public.tournaments_match(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_game tournaments_game_winner_id_0b21b880_fk_tournaments_team_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_game
    ADD CONSTRAINT tournaments_game_winner_id_0b21b880_fk_tournaments_team_id FOREIGN KEY (winner_id) REFERENCES public.tournaments_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_group_teams tournaments_group_te_group_id_64a7c9b3_fk_tournamen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_group_teams
    ADD CONSTRAINT tournaments_group_te_group_id_64a7c9b3_fk_tournamen FOREIGN KEY (group_id) REFERENCES public.tournaments_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_group_teams tournaments_group_teams_team_id_62d47786_fk_tournaments_team_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_group_teams
    ADD CONSTRAINT tournaments_group_teams_team_id_62d47786_fk_tournaments_team_id FOREIGN KEY (team_id) REFERENCES public.tournaments_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_group tournaments_group_tournament_id_f4f9daa1_fk_tournamen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_group
    ADD CONSTRAINT tournaments_group_tournament_id_f4f9daa1_fk_tournamen FOREIGN KEY (tournament_id) REFERENCES public.tournaments_tournament(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_match tournaments_match_team1_id_4e22b4a1_fk_tournaments_team_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_match
    ADD CONSTRAINT tournaments_match_team1_id_4e22b4a1_fk_tournaments_team_id FOREIGN KEY (team1_id) REFERENCES public.tournaments_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_match tournaments_match_team2_id_0fee8af1_fk_tournaments_team_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_match
    ADD CONSTRAINT tournaments_match_team2_id_0fee8af1_fk_tournaments_team_id FOREIGN KEY (team2_id) REFERENCES public.tournaments_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_match tournaments_match_tournament_id_443e00bf_fk_tournamen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_match
    ADD CONSTRAINT tournaments_match_tournament_id_443e00bf_fk_tournamen FOREIGN KEY (tournament_id) REFERENCES public.tournaments_tournament(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_match tournaments_match_winner_id_ed61fef2_fk_tournaments_team_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_match
    ADD CONSTRAINT tournaments_match_winner_id_ed61fef2_fk_tournaments_team_id FOREIGN KEY (winner_id) REFERENCES public.tournaments_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_player tournaments_player_team_id_a8b34e5d_fk_tournaments_team_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_player
    ADD CONSTRAINT tournaments_player_team_id_a8b34e5d_fk_tournaments_team_id FOREIGN KEY (team_id) REFERENCES public.tournaments_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_playergamestat tournaments_playerga_game_id_be90b3c4_fk_tournamen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_playergamestat
    ADD CONSTRAINT tournaments_playerga_game_id_be90b3c4_fk_tournamen FOREIGN KEY (game_id) REFERENCES public.tournaments_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_playergamestat tournaments_playerga_player_id_3342a138_fk_tournamen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_playergamestat
    ADD CONSTRAINT tournaments_playerga_player_id_3342a138_fk_tournamen FOREIGN KEY (player_id) REFERENCES public.tournaments_player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_playergamestat tournaments_playerga_team_id_ca442ad5_fk_tournamen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_playergamestat
    ADD CONSTRAINT tournaments_playerga_team_id_ca442ad5_fk_tournamen FOREIGN KEY (team_id) REFERENCES public.tournaments_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_standing tournaments_standing_group_id_643f3cc8_fk_tournaments_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_standing
    ADD CONSTRAINT tournaments_standing_group_id_643f3cc8_fk_tournaments_group_id FOREIGN KEY (group_id) REFERENCES public.tournaments_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_standing tournaments_standing_team_id_02e94d08_fk_tournaments_team_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_standing
    ADD CONSTRAINT tournaments_standing_team_id_02e94d08_fk_tournaments_team_id FOREIGN KEY (team_id) REFERENCES public.tournaments_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_standing tournaments_standing_tournament_id_26205d53_fk_tournamen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_standing
    ADD CONSTRAINT tournaments_standing_tournament_id_26205d53_fk_tournamen FOREIGN KEY (tournament_id) REFERENCES public.tournaments_tournament(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_tournament_participants tournaments_tourname_team_id_73c757c9_fk_tournamen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_tournament_participants
    ADD CONSTRAINT tournaments_tourname_team_id_73c757c9_fk_tournamen FOREIGN KEY (team_id) REFERENCES public.tournaments_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tournaments_tournament_participants tournaments_tourname_tournament_id_5f80c2d5_fk_tournamen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournaments_tournament_participants
    ADD CONSTRAINT tournaments_tourname_tournament_id_5f80c2d5_fk_tournamen FOREIGN KEY (tournament_id) REFERENCES public.tournaments_tournament(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict tfjSVbDb3BphcyhNL9sObRe6eRD92yLpy12ExXWpi84f9N3Loe6OzfCYXoGLuvc

